node_modules
.env
.env.production
.env.bkp
.DS_Store
coverage
dist
build
.vscode
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-admin.json
secure/
auth-eb4ce-firebase-adminsdk-fbsvc-48d383fadd.json
